<!--<ion-popover-view>-->
  <!--&lt;!&ndash;<ion-header-bar>&ndash;&gt;-->
    <!--&lt;!&ndash;<h1 class="title">Title</h1>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-header-bar>&ndash;&gt;-->
  <!--<ion-content scroll="false" class="padding">-->
    <!--<i class="icon ion-refresh"></i>-->
  <!--</ion-content>-->
<!--</ion-popover-view>-->

<ion-modal-view
  class="padding"
  style="
  filter: opacity(40%);
  background-color: #3a3a44;">
  <ion-content>
    <!--<ion-popover-view>-->
    <button class="button button-calm button-full" ng-click="refreshHUD.hide()">Click me</button>
    <!--</ion-popover-view>-->
  </ion-content>
</ion-modal-view>
